@import url('rezapnp.ir/store_php/css/font.css');
.header{
	width: 100%;
	height: 50px;
	background:#0F8BB8;
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
}
.flex{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
	height:50%;
	
}
.aside{
	flex: 30%;
	background-color: #3BC70A;
	border-radius: 0px 0px 20px 0px;
}
.article{
	flex: 70%; 
	background-color: #FFD600;
	border-radius: 0px 0px 0px 20px;
}
img{
	padding: 20px;
	width: 420px;
    height: 240px;
    transition: .5s;
}
img:hover{
	padding: 30px;
	width: 400px;
	height: 220px;
}
.font{
	font-family: 'vazir';
	padding: 20px;
	text-align:justify;
	font-size: 20px;
	direction: rtl;
}
@media (max-width: 700px) {
  .flex {
    flex-direction: column;
	 
  }
	.aside{
	border-radius: 0px 0px 20px 20px;
}
	.article{
	border-radius: 0px 0px 0px 0px;
}
	img{
	width: 50%;
	height: 50%;
	}
	img:hover{
	padding: 26.7px;
	width: 45%;
	height: 45%;
}
}